<div [@routerTransition]>
    <br />
    <br />
        <div class="row justify-content-md-center">
            <div class="col-md-4">
    
                <form role="form">
                    <fieldset class="form-group">
                        <label>Name</label>
                        <input [(ngModel)]="name" name="name" class="form-control" placeholder="Tudorescu">
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Surname</label>
                        <input [(ngModel)]="surname" name="surname" class="form-control" placeholder="Andreea">
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Mail</label>
                        <input [(ngModel)]="mail" name="mail" class="form-control" type="mail" placeholder="@gmail.com">
                    </fieldset>
                    
                    <fieldset class="form-group">
                        <label>Event location</label>
                        <input [(ngModel)]="location" name="location" class="form-control" placeholder="Gradina Zoo">
                    </fieldset>   

                    <fieldset class="form-group">
                        <label>Event date and time</label>
                        <input [(ngModel)]="date" name="date" type="datetime" class="form-control" placeholder="2019-08-01T13:39:00">
                    </fieldset>  

                    <fieldset class="form-group">
                        <label>Number of artists needed</label>
                        <input [(ngModel)]="nrOfArtistsNeeded" name="nrOfArtistsNeeded" class="form-control" placeholder="4">
                    </fieldset> 
    
                    <button type="reset" (click)="clearData()" class="btn btn-lg btn-link">Clear</button>
                    
                    <button type="submit" (click)="saveData()" style="float: right;" class="btn btn-lg btn-success">Save</button>

                </form>
            </div>
        </div>
    </div>
    