<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
                <div class="card-header">
                        Designers
                        <i class="fa fa-plus btn" (click)="navigateToAddNewDesigner()" ></i>&nbsp;
                    </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Mail</th>
                        <th>Edit/ Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let designer of designers; index as i">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{designer.name}}</td>
                        <td>{{designer.mail}}</td>
                        <i class="fa fa-edit btn" (click)="navigateToEditDesigner()"></i>&nbsp;
                        <i class="fa fa-trash btn"></i>&nbsp;
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>