<div [@routerTransition]>
      <i class="page-header">
         <h1> 
            <span>Set favorites fashion models for {{designer?.name}}</span>
         </h1>
      </i>
      <br />
      </div>
      <div [sortablejs]="models" class="row">
      <div class="col-sm-2"  *ngFor="let model of models; index as i">
            <div class="card bg-light mb-6" >
               <div class="card-header">
                  <h4 class="card-title">
                     {{model.name}}
                  </h4>
                  <p class="card-text">Height: {{model.height}}, Breast: {{model.breastSize}}, Waist: {{model.waistSize}}, Hips: {{model.hipsSize}}</p>
                  <input type="checkbox" name="modelSelected{{model.id}}" [(ngModel)]="model.isSelected">
                  <img src="{{model.photo ? model.photo : 'assets/images/fashionmodelplaceholder.png'}}" class="model-image" />
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <button type="submit" (click)="saveFavoriteFashionModels()" style="float: right;" class="btn btn-lg btn-success">Save</button>
      </div>
