<div [@routerTransition]>
   <br />
   <br />
   <div class="row justify-content-md-center">
      <div class="col-md-4">
         <fieldset class="form-group">
            <h4>Designer edit</h4>
         </fieldset>
         <form role="form">
            <fieldset class="form-group">
               <label>Name</label>
               <input [(ngModel)]="designer.name" name="designer" class="form-control" placeholder="Tudorescu">
            </fieldset>
            <button type="submit" (click)="updateData()" style="float: right;" class="btn btn-lg btn-success">Save</button>
         </form>
      </div>
</div>