<div class="page-header">
   <h1> 
      <span>Designers ({{designers?.length}})</span>
      <button type="button" class="btn btn-default float-right" data-toggle="tooltip" data-placement="right" title="Add a new designer">
      <i class="fa fa-plus" style="font-size: 30px;" id="addButton" (click)="navigateToAddNewDesigner()"></i>
      </button>
   </h1>
   <hr>
</div>

<div>
   <h6>Favorites artists for designers</h6>
</div>

<div class="card-body table-responsive">
   <table class="table">
      <thead>
         <tr>
            <th>#</th>
            <th>Name</th>
            <th>ShowwwwwwTiiiime</th>
            <th>Edit/ Delete</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let designer of designers; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{designer.name}}</td>
            <td>{{designer.dateTimeShow}}</td>
            <i class="fa fa-edit btn" (click)="navigateEditDesigner(designer.id)"></i>&nbsp;
            <i class="fa fa-trash btn"(click)="navigateToDeleteDesigner(designer.id)"></i>&nbsp;
            <td class="table">
               <thead>
                  <tr>
                     <th>#</th>
                     <th>Favorites artists</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let favoriteArtist of designer?.favoriteArtists; index as i">
                     <td scope="row">{{i + 1}}</td>
                     <td>{{favoriteArtist.artist.name}}</td></tr>
               </tbody>
            </td>
         </tr>
      </tbody>
   </table>
</div>

<div>
   <h6>Allocated artists for designers</h6>
</div>

   <div class="card-body table-responsive">
      <table class="table">
         <thead>
            <tr>
               <th>#</th>
               <th>Name</th>
               <th>Edit/ Delete</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let designer of allocated; index as i">
               <th scope="row">{{i + 1}}</th>
               <td>{{designer.name}}</td>
               <i class="fa fa-edit btn" (click)="navigateEditDesigner(designer.id)"></i>&nbsp;
               <i class="fa fa-trash btn"(click)="navigateToDeleteDesigner(designer.id)"></i>&nbsp;
               <td class="table">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Allocated artists</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let allocatedArtist of designer?.allocatedArtists; index as i">
                        <td scope="row">{{i + 1}}</td>
                        <td>{{allocatedArtist.artist.name}}</td></tr>
                  </tbody>
               </td>
            </tr>
         </tbody>
      </table>
   </div>