<div [@routerTransition]>
        <app-page-header [heading]="'Algorithms comparison'" [icon]="'fa-bar-chart-o'"></app-page-header>
        <div class="row">
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Algorithms score comparison
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="barChartDataScore" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Explanation
                    </div>
                    <div class="card-body">
                        The score is calculated by the difference between the number of favorites artists selected by designer and the number of allocated artists after algorithm was executed for a 
                    </div>
                </div>
            </div>
    
        </div>
        <div class="row">
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Periods of the execution algorithms comparison
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="barChartDataTime" [labels]="barChartLabelsTime" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Explanation
                    </div>
                    <div class="card-body">
                        Descriere timp. Ce inseamna fiecare timp de la fiecare algoritm
                    </div>
                </div>
            </div>
    
        </div>
    </div>