<div [@routerTransition]>
    <h2 class="text-muted"></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="card card-default">
            <div class="card-header">
                Modellink is a market place application meant to find the perfect model in order to improve the image of your business. Our platform links models and potential clients, according to the preferences of the latter, such as height or age. Those who search for models pay us a commission related to the price paid to the models. The models are limited in using the benefits of Modellink. For example, they can upload only 5 photos. Of course, they can pay an extra fee for appearing through the first results in a search. Our application is designed for everyone who needs models. The users of the platform find models that fit their criteria and the models find opportunities to use their qualities effieciently. For instance, there festivals in Romania interested in our application. For the time being, we focus on the market in Romania, but we aim to extend our business worldwide.
            </div>

        </div>
    </div>
</div>