<div [@routerTransition]>
   <br />
   <br />
   <div class="row justify-content-md-center">
      <div class="col-md-4">
         <fieldset class="form-group">
            <h4>Edit event</h4>
         </fieldset>
         <form role="form">
            <fieldset class="form-group">
               <label>Designer name</label>
               <input [(ngModel)]="event.designer" name="designer" class="form-control" placeholder="Tudorescu">
            </fieldset>
            <fieldset class="form-group">
               <label for="start">Start date:</label>
               <input type="date" id="start" name="trip-start"
                  value="2018-07-22"
                  min="2018-01-01" max="2018-12-31">
            </fieldset>
            <button type="submit" (click)="updateData()" style="float: right;" class="btn btn-lg btn-success">Save</button>
         </form>
      </div>
   </div>