<div [@routerTransition]>
        <br />
        <br />
            <div class="row justify-content-md-center">
                <div class="col-md-4">
        
                    <form role="form" *ngIf="fashionModel">
                        <fieldset class="form-group">
                            <h4>Edit fashion model</h4>
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Name</label>
                            <input [(ngModel)]="fashionModel.name" name="name" class="form-control">
                        </fieldset>
    
                        <fieldset class="form-group">
                            <label>Height (cm)</label>
                            <input [(ngModel)]="fashionModel.height" name="height" class="form-control" type="number" placeholder="170">
                        </fieldset>
    
                        <fieldset class="form-group">
                            <label>Weight (cm)</label>
                            <input [(ngModel)]="fashionModel.weight" name="weight" class="form-control" type="number" placeholder="50">
                        </fieldset>    
    
                        <fieldset class="form-group">
                            <label>Breast size (cm)</label>
                            <input [(ngModel)]="fashionModel.breastSize" name="breastSize" class="form-control" type="number" placeholder="80">
                        </fieldset> 
    
                        <fieldset class="form-group">
                            <label>Waist size (cm)</label>
                            <input [(ngModel)]="fashionModel.waistSize" name="waistSize" class="form-control" type="number" placeholder="60">
                        </fieldset>
    
                        <fieldset class="form-group">
                            <label>Hips size (cm)</label>
                            <input [(ngModel)]="fashionModel.hipsSize" name="hipsSize" class="form-control" type="number" placeholder="90">
                        </fieldset>
        
                        <fieldset class="form-group">
                            <label>Eyes color</label>
                            <input [(ngModel)]="fashionModel.eyesColor" name="eyesColor" class="form-control" placeholder="green">
                        </fieldset>
    
                        <fieldset class="form-group">
                            <label>Hair color</label>
                            <input [(ngModel)]="fashionModel.hairColor" name="hairColor" class="form-control" placeholder="blonde">
                        </fieldset>
    
                        <fieldset class="form-group">
                            <label>Facebook</label>
                            <input [(ngModel)]="fashionModel.facebook" name="facebook" class="form-control" placeholder="Facebook profile">
                        </fieldset>
                        
                        <fieldset class="form-group">
                            <label>Instagram</label>
                            <input [(ngModel)]="fashionModel.instagram" name="instagram" class="form-control" placeholder="Instagram profile">
                        </fieldset>
    
                        <fieldset class="form-group">
                            <label>Photo</label>
                            <input [(ngModel)]="fashionModel.photo" name="photo" class="form-control" placeholder="URL image">
                        </fieldset>
    
                        <fieldset class="form-group">
                            <label>Short description</label>
                            <textarea class="form-control" rows="3"input [(ngModel)]="fashionModel.description" name="description"></textarea>
                        </fieldset>
                        
                        <button type="submit" (click)="updateData()" style="float: right;" class="btn btn-lg btn-success">Save</button>
    
                    </form>
                </div>
            </div>
        </div>
        