<div class="page-header">
    <h1> 
        <span>Fashion models ({{fashionModels?.length}})</span>
        <button type="button" class="btn btn-default float-right" data-toggle="tooltip" data-placement="right" title="Add a new model">
                <i class="fa fa-plus" style="font-size: 30px;" id="addButton" (click)="navigateToAddNewFashionModel()"></i>
        </button>
    </h1>    
    <hr>
</div>

<div class="row">
    <div class="col-md-12 input-group">
        <input type="text" class="form-control form-control-lg" placeholder="Search model...">
        <div class="input-group-append input-group-append-lg">
            <button class="btn btn-secondary btn-lg" type="button"><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-4" *ngFor="let fashionModel of fashionModels; index as i">
        <div class="card bg-light mb-3">    
            <div class="card-header">
                <h4 class="card-title">
                        <span (click)="navigateToFashionModelDetails(fashionModel.id)" class="pointer" >{{fashionModel.name}}</span>
                        <i class="fa fa-check btn float-right"></i>&nbsp;
                        <i class="fa fa-trash btn float-right" (click)="navigateToFashionModelDelete(fashionModel.id)"></i>&nbsp;
                        <i class="fa fa-edit btn float-right" (click)="navigateToFashionModelEdit(fashionModel.id)"></i>&nbsp;
                </h4>
                <p class="card-text">Height: {{fashionModel.height}}, Breast: {{fashionModel.breastSize}}, 
                    Waist: {{fashionModel.waistSize}}, Hips: {{fashionModel.hipsSize}}</p>
                <img src="{{fashionModel.photo ? fashionModel.photo : 'assets/images/fashionmodelplaceholder.png'}}" class="model-image"/>
            </div>     
        </div>
    </div>
</div>