
<div class="row">
    <div class="col col-xl-12 col-lg-12">
            <button type="button" class="btn btn-lg btn-success" (click)="navigateToAddNewFashionModel()">Add a new one</button>
    </div>
</div>

<br />

<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                Fashion models
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Breast size</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let fashionModel of fashionModels; index as i">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{fashionModel.name}}</td>
                        <td>{{fashionModel.breastSize}}</td>
                        <td>@mdo</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>